<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/sub-header/piezasexpocaf02.jpg" alt="ursi galletti taller escuela orfebreria expo caf">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Expo CAF</h3>
</section>


<section class="boxed-sm" id="info">
    <div class="container ">
        <div class="masonry">
            <div class=" item" *ngFor="let expocaf of expocafs">
                <a [href]="expocaf.image | imagenPipe: 'expocafs'" data-gallery title="">
                    <img [src]="expocaf.image | imagenPipe: 'expocafs'" alt="ursi galletti taller escuela orfebreria expo caf" width="92" height="100" border="0" class="pin" /></a>
            </div>
        </div>
    </div>
</section>