<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/laboal.jpg" alt="ursi galletti taller escuela orfebreria cursos">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Aspecto Laboral</h3>
</section>
<!---cursos--->


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">
            <p><b>JULIO 1.996 DICIEMBRE 1.998 Proyecto</b> “Formación Integral de Artesanos en los Oficios de Cerámica, Orfebrería, Joyería, Torno Cerámico y Vidrio termo formado, con Conocimientos básicos en administración y producción”. Con el propósito
                De fomentar la autogestión a través de la microempresa. Convenio AVAF-FUNDARTE. Alcaldía de Caracas. <br>
                <b>Cargo: Coordinador General del proyecto </b><br><br>

                <b>ABRIL 1.994/96</b> Forma parte de la Junta Directiva AVAF. Cargo: Secretario de Finanzas <br><br>
                <b>MAYO 1.995</b>Dicta clases Regulares en Su Taller- Escuela. <br><br>
                <b>OCTUBRE 1.993</b> Dicta Cursos Regulares A MAYO 1.995 Para La AVAF <br><br>
                <b>OCTUBRE 1.993 </b>Crea Para La AVAF Él Taller-Escuela de Orfebrería y Joyería <br><br>
                <b>JULIO 1.992</b> Dicta Clases Regulares A FEB. 1.994 Inst. Univ. Monseñor de Talavera. Escuela de Diseño de Joyas. Caracas. Venezuela 1.989 Crea el Taller Escuela UrsiGalletti.

            </p>
        </div>
    </div>
</section>