<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/laboal.jpg" alt="ursi galletti taller escuela orfebreria cursos">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">{{'Aspecto Laboral'| translate}}</h3>
</section>
<!---cursos--->


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding twocol">
            <p><b>{{'Julio'| translate}} 1.996 {{'Diciembre'| translate}} 1.998</b> {{'Proyecto: “Formación Integral de Artesanos en los Oficios de Cerámica, Orfebrería, Joyería, Torno Cerámico y Vidrio termo formado, con Conocimientos básicos en administración y producción”. Con el propósito de fomentar la autogestión a través de la microempresa. Convenio AVAF-FUNDARTE. Alcaldía de Caracas.'| translate}} <br>
                <b>{{'Cargo'| translate}}:</b> {{'Coordinador General del proyecto'| translate}} <br><br>

                <b>{{'Abril'| translate}} 1.994/96</b> {{'Forma parte de la Junta Directiva AVAF. Cargo: Secretario de Finanzas'| translate}}  <br><br>
                <b>{{'Mayo'| translate}} 1.995</b> {{'Dicta clases Regulares en Su Taller-Escuela.'| translate}}  <br><br>
                <b>{{'Octubre'| translate}} 1.993</b> {{'Dicta Cursos Regulares A MAYO 1.995 Para La AVAF'| translate}}  <br><br>
                <b>{{'Octubre'| translate}} 1.993 </b> {{'Crea Para La AVAF Él Taller-Escuela de Orfebrería y Joyería'| translate}} <br><br>
                <b>{{'Julio'| translate}} 1.992</b> {{'Dicta Clases Regulares A FEB. 1.994 Inst. Univ. Monseñor de Talavera. Escuela de Diseño de Joyas. Caracas. Venezuela 1.989 Crea el Taller Escuela UrsiGalletti.'| translate}} 

            </p>
        </div>
    </div>
</section>