.no-hidden {
    position: fixed;
    bottom: 10px;
    right: 10px;
    visibility: visible;
}

.buscador{
    width: 780px; 
    float: left;
}
.botonn{
    float: left;
}

@media(max-width:768px){
    .buscador{
        width: 270px; 
        float: left;
    }
    .botonn{
        float: left;
    }
}
