.list-container {
    height: calc(100vh - 140px);
  }
  
  
  .caja {
      width: 200px;
      height: 200px;
      /* border: solid 1px #ccc; */
      color: rgba(0, 0, 0, 0.87);
      cursor: move;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: #fff;
      border-radius: 4px;
      position: relative;
      z-index: 1;
      transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                  0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    
    .caja:active {
      /* border: 5px solid red; */
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }


.desc h3{
    font-family: var(--font-title) !important;
    font-weight: 400;
    font-size: 12px;
    color: var(--vinotinto);
}

/* producto */

.card-img-top {
    width: 170px;
    height: 230px;
    align-self: center;
    padding-top: 10px;
}

.itemproduct {
    width: auto;
}

.image-container {
    overflow: hidden;
    height: 200px;
}

.itemproduct .card-body {
    padding: 0 20px px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.product .desc {
    padding: 10px;
}

.product .price {
    font-size: 15px;
    color: #666666;
}

.desc {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 120px;
    margin-bottom: 20px;
}


.desc h3{
    grid-area: 1 / 1 / 2 / 2;
}
.desc .price{
    grid-area: 2 / 1 / 2 / 2;
    font-size: 20px !important;
}
.desc .btn{
    grid-area: 1 / 1 / 2 / 4;
}


.desc h3 {
    font-size: 18px !important;
    height: 30px;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--vinotinto);
}

@media(min-width:1024px) {
    .itemproduct {
        width: auto;
        height: 350px;
        overflow: hidden;
    }
    .itemproduct .imageprod {
        display: flex;
        width: auto;
        height: 200px;
        margin: auto;
    }
    .itemproduct .imageprod img {
        display: flex;
        width: auto;
        height: 210px;
        margin: auto;
    }
}

@media(max-width:768px) {
    .itemproduct {
        width: auto;
        height: 270px;
        overflow: hidden;
    }
    .itemproduct .imageprod {
        display: flex;
        width: auto;
        height: 160px;
        margin: auto;
    }
    .itemproduct .imageprod img {
        display: flex;
        width: auto;
        height: 160px;
        margin: auto;
    }
    .itemproduct .card-title {
        padding: 0;
        font-size: 18px;
        font-weight: 500;
        color: #012970;
        font-family: "Poppins", sans-serif;
    }
}

@media(max-width:480px) {
    .itemproduct {
        width: 84vw;
        height: auto;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
    }
    .itemproduct .imageprod {
        display: flex;
        height: 110px;
        margin: auto;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 110px;
        border-radius: 10px 0px 0px 10px;
    }
    .itemproduct .imageprod img {
        display: flex;
        width: auto;
        height: 110px;
        margin: auto;
    }
    .itemproduct .card-title {
        padding: 0;
        font-size: 18px;
        font-weight: 500;
        color: #012970;
        font-family: "Poppins", sans-serif;
        padding: 0;
        margin: 0;
    }
    .itemproduct .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        padding-top: 10px;
    }
}