<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/exposicionesC.jpg" alt="ursi galletti taller escuela orfebreria ">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Exposiciones Colectivas</h3>
</section>


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">
            <p><b>Mayo 2012</b> Gira por EEUU , “workshop in Motion”, Miami, Houston y Cary. <br> <br>
                <b>Noviembre 2011</b> “4to Encuentro Platero del Patronato de la Plata “ , Cajamarca Peru. <br> <br>
                <b>Agosto		2011</b> “De lo Tradicional a lo Contemporáneo”, Embajada del Peru, Patronato de la Plata, CAF, Galería CAF, Caracas Venezuela.<br><br>
                <b>Febrero		2011</b> “A Corazón Abierto”, Galería Ursi Galletti, Caracas Venezuela. <br><br>
                <b>Julio		2010</b> “Exposición Reciclarte”, Galería Ursi Galletti, Caracas Venezuela <br><br>
                <b>Noviembre 	2009</b> “3er Encuentro Hispanoamericano de Plateros”, Zacatecas - México. <br><br>
                <b>Junio 		2009</b> FIA 2009, Hotel Tamanaco, Caracas Venezuela <br><br>
                <b>Junio		2009</b> “Tendencias”, Galería TAC, Caracas Venezuela. <br><br>

                <b>Junio		2008</b> “150 Brazaletes”, Galería TAC, Caracas Venezuela <br><br>
                <b>Octubre		2007</b> “Segundo encuentro de plateros de Hispanoamérica”, Palacio de la Moneda, Lima Perú. (Patronato de la plata del Perú.) <br><br>
                <b>Junio		2007</b> “Joyas y Símbolos en la Ruta Andina”, Caracas, Galería CAF. (Corporación Andina de Fomento). <br><br>
                <b>Mayo		2006</b> Feria Internacional de Paris, Francia <br><br>
                <b>Abril		2006</b> Joyería Andina. Sede General de la UNESCO, Paris - Francia <br><br>
                <b>Agosto		2005</b> “FILGRANA 2005 “, DESDE LA MITAD DEL MUNDO... Quito Ecuador <br><br>
                <b>Marzo		2005</b> Concurso Premio Italia, Centro cultural La Estancia, Caracas. <br><br>
                <b>Septiembre	2004</b> “XXXI Salón Nacional de las Artes del Fuego”, Valencia. <br><br>
                <b>Diciembre		2.003</b> "Cuatro Orfebre 4 Elementos", Hotel Altamira suites. Caracas Venezuela.

                <br><br>
                <b>Mayo	2.003</b> "Wearable Art", metasmithing exhibition, Auditorium Simon Bolivar, Port Spain - Trinidad and Tobago. Embajada de Venezuela.
                <br><br>
                <b>Octubre		2.002</b> “Encuentro Artesanal Andino”, Bogota Colombia. <br><br>
                <b>Septiembre	2.002</b> “XXIX Salón Nacional de las Artes del Fuego”, Valencia Venezuela. <br><br>
                <b>Abril		2.002</b> “Rito y Alquimia”, Galería Félix, Caracas Venezuela. <br><br>
                <b>Septiembre	2.001 </b>“XXVIII SALON NACIONAL DE LAS ARTES DEL FUEGO” Valencia. Sala Braulio Salazar. <br><br>
                <b>AGOSTO 		2.001</b> “V Bienal DE Puerto la Cruz, 2.001” Puerto la cruz, Estado Anzoategui <br><br>
                <b>Septiembre	2.000</b> “XXVII SALON NACIONAL DE LAS ARTES DEL FUEGO” Valencia. Sala Braulio Salazar. <br><br>
                <b>ABRIL		2.000</b> “ PRENDAS PARA LA CALLAS” Fundación Corp Group. CARACAS - VENEZUELA <br><br>
                <b>FEBRERO		2.000</b> “MAGIA Y ARTIFICIO” Corporación Andina de Fomento, CAF. Caracas – Venezuela. <br><br>
                <b>AGOSTO		1.999</b> “XXVI Salón Nacional de las Artes del Fuego “ Valencia - Venezuela. <br><br>
                <b>NOVIEMBRE	1.998</b> “Salón Internacional de Esmalte Artístico” CEARA, Bnos. Aires. Argentina <br><br>
                <b>SEPTIEMBRE	1.998</b> “XIII Salón Internacional de Esmaltes”. Artes del fuego Viña del Mar. Chile <br><br>
                <b>SEPTIEMBRE	1.998</b> “XXV Salón Nacional de las Artes del Fuego” Sala Braulio Salazar. Valencia. Venezuela <br><br>
                <b>NOVIEMBRE	1.998</b> “II Salón Nacional de Artesanía y Arte popular” Isla de Margarita. Venezuela. En el marco de la VII cumbre de presidentes. <br><br>
                <b>NOVIEMBRE 	1.997</b> “VISIONES”, Nueve Orfebres de La AVAF en él Museo de Arte Contemporáneo. Caracas. Venezuela <br><br>
                <b>OCTUBRE		1.997</b> “X Salón Internacional de Esmalte Artístico”. CEARA Bnos. Aires Argentina <br>
                <b><br>
        AGOSTO		1.997</b> “IV Bienal Nacional de Artes Plásticas de Puerto La Cruz” Venezuela <br><br>
                <b>ABRIL		1.997</b> “XV Exposición de Arte del Instituto Smithsonia” National Building Museum, Washington. USA <br><br>
                <b>MARZO		1.997</b> “The 10mo Cloisonne. Jewelry Contest” The Japan Shippo Conference Exhibition. Tokio. Japón. <br><br>
                <b>SEPTIEMBRE	1.996</b> “XXIII Salón Nacional De las Artes de Fuego” Sala Braulio Salazar. Valencia. Venezuela <br><br>
                <b>AGOSTO		1.996</b> “Bienal Nacional de las Artes del Fuego” 17 Años de la AVAF. Itinerante.Venezuela <br><br>
                <b>MAYO		1.996</b> “XI Salón Internacional de Esmalte” Salón De Bellas Artes Viña del Mar... Chile <br><br>
                <b>ENERO		1.996 </b>“The 9th cloisonne Jewelry Contest”. The Japan Shippo Conference exhibition. Tokio. Japón <br><br>
                <b>SEPTIEMBRE</b> 1.994-95 “XV Aniversario AVAF”. Exposición Itinerante. Venezuela <br><br>
                <b>JUNIO		1.995</b> “Las Huellas Del Camino”. Asociación Cultural Humboldt. Caracas. Venezuela <br><br>
                <b>MAYO		1.995</b> “Orfebres en la ruta del sol”. Museo de Clarines. Venezuela <br><br>
                <b>ABRIL		1.995</b> “Fuego Vivo”. Galería AVAF. Caracas. Venezuela. <br><br>
                <b>OCTUBRE		1.994</b> “Colectiva Piros”. Izcaragua Country Club. Caracas. Venezuela <br><br>
                <b>JUNIO		1.994</b> “Colectiva AVAF 94”. Galería AVAF Caracas Venezuela. <br><br>
                <b>ABRIL		1.994</b> “Joyas en la Galería AVAF” Galería AVAF Caracas Venezuela <br><br>
                <b>MAYO		1.993 </b>“ARTE Y TIERRA” Izacaragua Country Club. Caracas. Venezuela <br><br>
                <b>ABRIL		1.992</b> “Orfebrería De Dos Mundos”. Asociación Cultural Humboldt. Caracas. Venezuela <br><br>
                <b>NOVIEMBRE	1.991</b> “51 Días de Las Artes del Fuego”. Imagen Galería. Isla de Margarita. Venezuela. <br>
                <br>
            </p>
        </div>
    </div>
</section>