<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/exposicionesC.jpg" alt="ursi galletti taller escuela orfebreria ">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">{{'Exposiciones Colectivas'| translate}}</h3>
</section>


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding twocol">
            <p><b>{{'Mayo'| translate}} 2012</b> {{'Gira por EEUU , “workshop in Motion”, Miami, Houston y Cary.'| translate}} <br> <br>
                <b>{{'Noviembre'| translate}} 2011</b> {{'“4to Encuentro Platero del Patronato de la Plata “, Cajamarca Peru.'| translate}} <br> <br>
                <b>{{'Agosto'| translate}}		2011</b> {{'“De lo Tradicional a lo Contemporáneo”, Embajada del Peru, Patronato de la Plata, CAF, Galería CAF, Caracas Venezuela.'| translate}}<br><br>
                <b>{{'Febrero'| translate}}		2011</b> {{'“A Corazón Abierto”, Galería Ursi Galletti, Caracas Venezuela.'| translate}} <br><br>
                <b>{{'Julio'| translate}}		2010</b> {{'“Exposición Reciclarte”, Galería Ursi Galletti, Caracas Venezuela'| translate}} <br><br>
                <b>{{'Noviembre'| translate}} 	2009</b> {{'“3er Encuentro Hispanoamericano de Plateros”, Zacatecas - México.'| translate}} <br><br>
                <b>{{'Junio'| translate}} 		2009</b> {{'FIA 2009, Hotel Tamanaco, Caracas Venezuela'| translate}} <br><br>
                <b>{{'Junio'| translate}}		2009</b> {{'“Tendencias”, Galería TAC, Caracas Venezuela.'| translate}} <br><br>
                <b>{{'Junio'| translate}}		2008</b> {{'“150 Brazaletes”, Galería TAC, Caracas Venezuela'| translate}} <br><br>
                <b>{{'Octubre'| translate}}		2007</b> {{'“Segundo encuentro de plateros de Hispanoamérica”, Palacio de la Moneda, Lima Perú. (Patronato de la plata del Perú.)'| translate}} <br><br>
                <b>{{'Junio'| translate}}		2007</b> {{'“Joyas y Símbolos en la Ruta Andina”, Caracas, Galería CAF. (Corporación Andina de Fomento).'| translate}} <br><br>
                <b>{{'Mayo'| translate}}		2006</b> {{'Feria Internacional de Paris, Francia'| translate}} <br><br>
                <b>{{'Abril'| translate}}		2006</b> {{'Joyería Andina. Sede General de la UNESCO, Paris, Francia'| translate}}<br><br>
                <b>{{'Agosto'| translate}}		2005</b> {{'“FILGRANA 2005 “, DESDE LA MITAD DEL MUNDO... Quito, Ecuador'| translate}} <br><br>
                <b>{{'Marzo'| translate}}		2005</b> {{'Concurso Premio Italia, Centro cultural La Estancia, Caracas.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}	2004</b> {{'“XXXI Salón Nacional de las Artes del Fuego”, Valencia, Venezuela.'| translate}} <br><br>
                <b>{{'Diciembre'| translate}}  2.003</b> {{'“Cuatro Orfebre 4 Elementos“, Hotel Altamira suites. Caracas, Venezuela.'| translate}}
                <b>{{'Mayo'| translate}}	2.003</b> {{'“Wearable Art“, metasmithing exhibition, Auditorium Simon Bolivar, Port Spain - Trinidad and Tobago. Venezuelan Embassy.'| translate}}
                <b>{{'Octubre'| translate}}		2.002</b> {{'“Encuentro Artesanal Andino”, Bogota, Colombia.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}	2.002</b> {{'“XXIX Salón Nacional de las Artes del Fuego”, Valencia, Venezuela.'| translate}} <br><br>
                <b>{{'Abril'| translate}}		2.002</b> {{'“Rito y Alquimia”, Galería Félix, Caracas Venezuela.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}	2.001 </b>{{'“XXVIII SALON NACIONAL DE LAS ARTES DEL FUEGO” Valencia, Venezuela. Sala Braulio Salazar.'| translate}} <br><br>
                <b>{{'Agosto'| translate}} 		2.001</b> {{'“V Bienal DE Puerto la Cruz, 2.001” Puerto la cruz, Estado Anzoategui.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}	2.000</b> {{'“XXVII SALON NACIONAL DE LAS ARTES DEL FUEGO” Valencia, Venezuela. Sala Braulio Salazar.'| translate}} <br><br>
                <b>{{'Abril'| translate}}		2.000</b> {{'“PRENDAS PARA LA CALLAS” Fundación Corp Group. Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Febrero'| translate}}		2.000</b> {{'“MAGIA Y ARTIFICIO” Corporación Andina de Fomento, CAF. Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Agosto'| translate}}		1.999</b> {{'“XXVI Salón Nacional de las Artes del Fuego “ Valencia, Venezuela.'| translate}} <br><br>
                <b>{{'Noviembre'| translate}}	1.998</b> {{'“Salón Internacional de Esmalte Artístico” CEARA, Bnos. Aires, Argentina.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}	1.998</b> {{'“XIII Salón Internacional de Esmaltes”. Artes del fuego Viña del Mar, Chile.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}	1.998</b> {{'“XXV Salón Nacional de las Artes del Fuego” Sala Braulio Salazar. Valencia, Venezuela.'| translate}} <br><br>
                <b>{{'Noviembre'| translate}}	1.998</b> {{'“II Salón Nacional de Artesanía y Arte popular” Isla de Margarita. Venezuela. En el marco de la VII cumbre de presidentes.'| translate}} <br><br>
                <b>{{'Noviembre'| translate}} 	1.997</b> {{'“VISIONES”, Nueve Orfebres de La AVAF en él Museo de Arte Contemporáneo. Caracas. Venezuela.'| translate}} <br><br>
                <b>{{'Octubre'| translate}}		1.997</b> {{'“X Salón Internacional de Esmalte Artístico”. CEARA Bnos. Aires, Argentina.'| translate}} <br>
                <b>{{'Agosto'| translate}}		1.997</b> {{'“IV Bienal Nacional de Artes Plásticas de Puerto La Cruz”, Venezuela.'| translate}} <br><br>
                <b>{{'Abril'| translate}}		1.997</b> {{'“XV Exposición de Arte del Instituto Smithsonia” National Building Museum, Washington, USA.'| translate}} <br><br>
                <b>{{'Marzo'| translate}}		1.997</b> {{'“The 10mo Cloisonne. Jewelry Contest” The Japan Shippo Conference Exhibition. Tokio, Japón.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}	1.996</b> {{'“XXIII Salón Nacional De las Artes de Fuego” Sala Braulio Salazar. Valencia, Venezuela.'| translate}} <br><br>
                <b>{{'Agosto'| translate}}		1.996</b> {{'“Bienal Nacional de las Artes del Fuego” 17 Años de la AVAF. Itinerante.Venezuela.'| translate}} <br><br>
                <b>{{'Mayo'| translate}}		1.996</b> {{'“XI Salón Internacional de Esmalte” Salón De Bellas Artes Viña del Mar, Chile.'| translate}} <br><br>
                <b>{{'Enero'| translate}}		1.996 </b>{{'“The 9th cloisonne Jewelry Contest”. The Japan Shippo Conference exhibition. Tokio, Japón.'| translate}} <br><br>
                <b>{{'Septiembre'| translate}}</b> 1.994-95 {{'“XV Aniversario AVAF”. Exposición Itinerante. Venezuela.'| translate}} <br><br>
                <b>{{'Junio'| translate}}		1.995</b> {{'“Las Huellas Del Camino”. Asociación Cultural Humboldt. Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Mayo'| translate}}		1.995</b> {{'“Orfebres en la ruta del sol”. Museo de Clarines. Venezuela.'| translate}} <br><br>
                <b>{{'Abril'| translate}}		1.995</b> {{'“Fuego Vivo”. Galería AVAF. Caracas. Venezuela.'| translate}} <br><br>
                <b>{{'Octubre'| translate}}		1.994</b> {{'“Colectiva Piros”. Izcaragua Country Club. Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Junio'| translate}}		1.994</b> {{'“Colectiva AVAF 94”. Galería AVAF Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Abril'| translate}}		1.994</b> {{'“Joyas en la Galería AVAF” Galería AVAF Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Mayo'| translate}}		1.993 </b>{{'“ARTE Y TIERRA” Izacaragua Country Club. Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Abril'| translate}}		1.992</b> {{'“Orfebrería De Dos Mundos”. Asociación Cultural Humboldt. Caracas, Venezuela.'| translate}} <br><br>
                <b>{{'Noviembre'| translate}}	1.991</b> {{'“51 Días de Las Artes del Fuego”. Imagen Galería. Isla de Margarita, Venezuela.'| translate}} <br>

            </p>
        </div>
    </div>
</section>