<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/sub-header/profile.jpeg" alt="ursi galletti taller escuela orfebreria">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Mi Perfil</h3>
</section>
<div class="container mt-3 mb-3">
    <div class="profile">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <div class="card shadow-small">
                    <div class="card-body">
                        <div class="tofolow">
                            <!-- <div class="imagen">
                                <div *ngIf="!userprofile">
                                    <img src="./assets/images/no-image.jpg" class="rounded-circle">
                                </div>
                                <div *ngIf="userprofile">
                                    <img [src]="userprofile[0].profiles.image | imagenPipe: 'profiles'" [alt]="userprofile.username" class="rounded-circle">
                                </div>
                            </div> -->
                            <div class="info">
                                <h1>Bienvenido!</h1>
                                <h3>{{user.username}}</h3>
                                <p><b>Email:</b> {{user.email}}</p>
                                <p><b>Miembro desde:</b> {{user.created_at | date:'mediumDate'}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <p><b>Pais:</b> {{userprofile.profiles.pais}}</p>
                                <p><b>Estado:</b> {{userprofile.profiles.estado}}</p>
                                <p><b>Tel. home:</b> {{userprofile.profiles.telhome}}</p>
                                <p><b>Tel. movil:</b> {{userprofile.profiles.telmovil}}</p>
                            </div>
                            <div class="col-xs-12 col-sm-4">

                                <p><b>Facebook:</b> {{userprofile.profiles.facebook}}</p>
                                <p><b>Instagram:</b> {{userprofile.profiles.instagram}}</p>
                                <p><b>Linkedin:</b> {{userprofile.profiles.linkedin}}</p>
                                <p><b>Twitter:</b> {{userprofile.profiles.twitter}}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>

                    <form class="form-horizontal form-material" (ngSubmit)="guardarPerfil()" [formGroup]="perfilForm">
                        <div class="row">

                            <div class="col-xs-12 ">
                                <div class="col-xs-12 col-md-6">
                                    <label>Nombres <span class="required">*</span></label>
                                    <input type="text" formControlName="nombre" class="form-control" required>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label>Apellidos <span class="required">*</span></label>
                                    <input type="text" formControlName="surname" class="form-control" required>

                                </div>


                                <div class="col-xs-12 col-md-6">
                                    <label for="exampleInputEmail1">Pais</label>
                                    <input type="text" formControlName="pais" class="form-control">
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label for="exampleInputEmail1">Estado</label>
                                    <input type="text" formControlName="estado" class="form-control">
                                </div>

                                <div class="col-xs-12 col-md-6">
                                    <label for="exampleInputEmail1">Teléfonos Principal  <span class="required">*</span></label>
                                    <input type="text" formControlName="telhome" class="form-control" required>

                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <label for="exampleInputEmail1">Teléfonos Móvil  </label>
                                    <input type="text" formControlName="telmovil" class="form-control">

                                </div>
                                <div class="clear"></div>
                                <hr>
                                <div class="col-xs-12">
                                    <div>
                                        <h4>Redes Sociales</h4>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="redes">
                                        <div class="col-xs-12 col-md-6">
                                            <label for="facebook" class="col-xs-12 col-form-label">
                        <i class="bi bi-facebook"></i> Facebook</label>
                                            <div class="col-11">
                                                <input type="text" class="form-control" formControlName="facebook" placeholder="@nombredeusuario">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label for="instagram" class="col-xs-12 col-form-label">
                      <i class="bi bi-instagram"></i> Instagram</label>
                                            <div class="col-11">
                                                <input type="text" class="form-control" formControlName="instagram" placeholder="@nombredeusuario">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label for="twitter" class="col-xs-12 col-form-label">
                    <i class="bi bi-twitter"></i> Twitter</label>
                                            <div class="col-11">
                                                <input type="text" class="form-control" formControlName="twitter" placeholder="@nombredeusuario">
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label for="linkedin" class="col-xs-12 col-form-label">
                  <i class="bi bi-linkedin"></i> Linkedin</label>
                                            <div class="col-11">
                                                <input type="text" class="form-control" formControlName="linkedin" placeholder="@nombredeusuario">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <input type="hidden" formControlName="id">
                        <div class="padding text-center">
                            <button class="btn btn-outline-ursi m-r-10" type="submit" [disabled]="!perfilForm.valid">Guardar</button>

                        </div>


                    </form>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6">
                <div class="card shadow-small padding">
                    <div class="card-body">
                        <h4>Mis Compras</h4>
                        <ul *ngFor="let payment of userprofile.payments |  paginate: { itemsPerPage: count, currentPage: p }">
                            <li>
                                <a [routerLink]="['/user-account/payment-detail', payment.id]">
                Referencia: {{payment.referencia}} | Fecha: {{payment.created_at | date:'MMM d, y, h:mm:ss a'}}
              </a>
                            </li>
                        </ul>
                        <br />
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>

                        <!-- <ul class="nav nav-tabs nav-tabs-bordered">
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#compras">Compras</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile">Mi Perfil</button>
                            </li>
                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active compras" id="compras">

                                <ul *ngFor="let payment of userprofile.payments |  paginate: { itemsPerPage: count, currentPage: p }">
                                    <li>
                                        <a [routerLink]="['/user-account/payment-detail', payment.id]">
                            Referencia: {{payment.referencia}} | Fecha: {{payment.created_at | date:'MMM d, y, h:mm:ss a'}}
                          </a>
                                    </li>
                                </ul>
                                <br />
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>

                            </div>
                            <div class="tab-pane fade show active perfil" id="perfil">
                                <form class="form-horizontal form-material" (ngSubmit)="guardarPerfil()" [formGroup]="perfilForm">
                                    <div class="row">

                                        <div class="col-xs-12 col-sm-6 col-md-8">
                                            < <div class="col-xs-12 col-md-6">
                                                <label>Nombres <span class="required">*</span></label>
                                                <input type="text" formControlName="nombre" class="form-control" required>

                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label>Apellidos <span class="required">*</span></label>
                                            <input type="text" formControlName="surname" class="form-control" required>

                                        </div>


                                        <div class="col-xs-12 col-md-6">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="text" formControlName="email" class="form-control" readOnly>

                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label for="exampleInputEmail1">Pais</label>
                                            <input type="text" formControlName="pais" class="form-control">
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label for="exampleInputEmail1">Estado</label>
                                            <input type="text" formControlName="estado" class="form-control">
                                        </div>

                                        <div class="col-xs-12 col-md-6">
                                            <label for="exampleInputEmail1">Teléfonos Principal  <span class="required">*</span></label>
                                            <input type="text" formControlName="telhome" class="form-control" required>

                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <label for="exampleInputEmail1">Teléfonos Móvil  </label>
                                            <input type="text" formControlName="telmovil" class="form-control">

                                        </div>
                                        <div class="clear"></div>

                                        <div class="col-xs-12">
                                            <div>
                                                <h4>Redes Sociales</h4>
                                            </div>
                                            <div class="clear"></div>
                                            <div class="redes">
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="facebook" class="col-xs-12 col-form-label">
                                <i class="bi bi-facebook"></i> Facebook</label>
                                                    <div class="col-11">
                                                        <input type="text" class="form-control" formControlName="facebook" value="facebook" placeholder="https://facebook.com/nameuser">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="instagram" class="col-xs-12 col-form-label">
                              <i class="bi bi-instagram"></i> Instagram</label>
                                                    <div class="col-11">
                                                        <input type="text" class="form-control" formControlName="instagram" value="instagram" placeholder="https://instagram.com/nameuser">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="twitter" class="col-xs-12 col-form-label">
                            <i class="bi bi-twitter"></i> Twitter</label>
                                                    <div class="col-11">
                                                        <input type="text" class="form-control" formControlName="twitter" value="twitter" placeholder="https://twitter.com/nameuser">
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <label for="linkedin" class="col-xs-12 col-form-label">
                          <i class="bi bi-linkedin"></i> Linkedin</label>
                                                    <div class="col-11">
                                                        <input type="text" class="form-control" formControlName="linkedin" value="linkedin" placeholder="https://linkedin.com/nameuser">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-4">

                                        <div class="col-xs-12">
                                            <div class="form-group form-row">
                                                <p>Subir Imagen (peso max: 500kb | medidas max: 226x226px | formato jpg)</p>
                                                <div class="col-xs-12">
                                                    <div *ngIf="!profileSeleccionado">
                                                        <img src="./assets/images/no-image.jpg" style="height: 100px; width: 100px;" class="img-circle avatar">
                                                    </div>
                                                    <div *ngIf="profileSeleccionado">
                                                        <button *ngIf="profileSeleccionado.image" type="button" class="btn btn-outline-danger" (click)="deleteFotoPerfil()">Eliminar</button>
                                                        <img [src]="profileSeleccionado.image | imagenPipe: 'profiles'" style="height: 50px; width: 50px;" class="img-circle avatar">
                                                    </div>
                                                    <angular-file-uploader [config]="afuConfig " (ApiResponse)="avatarUpload($event) ">
                                                    </angular-file-uploader>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                            </div>

                            <input type="hidden" formControlName="id">
                            <button class="btn btn-outline-success waves-effect waves-light m-r-10" type="submit" [disabled]="!perfilForm.valid">Guardar</button>


                            </form>

                        </div> -->




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>