<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/sub-header/expojoyasgranpantalla22.jpg" alt="ursi galletti taller escuela orfebreria">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Categoría: {{category.name}}</h3>
</section>

<section class="boxed-sm blog pt-3">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-md-8">

            <!-- post -->
            <div class="post post-category " *ngFor="let post of posts">
                <div>
                    <div class="col-xs-12 col-sm-3 col-md-3">
                        <a [routerLink]="['/blog', post.slug]">
                            <div *ngIf="!post.image">
                                <img class="img-responsive" src="./assets/images/no-image.jpg" alt="ursi galletti taller escuela orfebreria {{post.title}}" style="width:100%" />
                            </div>
                            <div *ngIf="post.image">
                                <img class="img-responsive" [src]="post.image | imagenPipe: 'posts'" alt="ursi galletti taller escuela orfebreria {{post.title}}" style="width:100%" />
                            </div>
                        </a>
                    </div>
                    <div class=" col-xs-12 col-sm-9 col-md-9">
                        <h3>
                            <a [routerLink]="['/blog', post.slug]">{{post.title}}</a>
                        </h3>

                        <p class="meta">
                            <span class="time">{{post.created_at | date:'mediumDate'}}</span>
                        </p>
                        <p class="sapo intro" [innerHtml]="post.description | safe: 'html' "></p>
                        <a class="read-more" [routerLink]="['/blog', post.slug]">Leer más <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- post -->
            <div class="clear"></div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <app-lateral></app-lateral>
        </div>
    </div>
</section>