<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/sub-header/herramienta2.png" alt="ursi galletti taller escuela orfebreria">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">{{'Herramientas'|translate}}</h3>
</section>
<!---cursos--->
<app-loading *ngIf="isLoading" ></app-loading>

<section class="boxed-sm" id="info"  *ngIf="!isLoading">
    <div class="container" *ngFor="let herramienta of herramientas">
        <div class="row padding">
            <div class="herramientas animated fadeInUp">
                <div class="col-xs-12 col-sm-6">
                    <h4>{{translate.currentLang === 'en' ? herramienta.title_eng : herramienta.title}}</h4>
                <h3>{{translate.currentLang === 'en' ? herramienta.subtitle_eng : herramienta.subtitle}}</h3>
                <div class="sapo" [innerHtml]="translate.currentLang === 'en' ? herramienta.description_eng : herramienta.description | safe: 'html'"></div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img [src]="herramienta.image | imagenPipe: 'herramientas'" alt="ursi galletti taller escuela orfebreria {{herramienta.title}}">
                </div>
            </div>
        </div>


    </div>
</section>