<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/cultural.jpg" alt="ursi galletti taller escuela orfebreria cursos">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Experiencia en Coordinación Cultural</h3>
</section>


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">
            <div class="col-xs-12 col-sm-6">
                <p><b>OCTUBRE 2011</b> El Taller Escuela UrsiGalletti, participa en el proyecto de la Asociación Venezolana de las Artes del Fuego (AVAF), Banco Interamericano de Desarrollo (BID), Alcaldía de Sucre – Gran Caracas, Titulado “Las Artes del
                    Fuego con La Comunidad”, el cual consiste en: “Llevar los oficios del fuego a las comunidades”. <br><br> Cerámica, Vidrio, Orfebrería Dando formación en los diferentes oficios de las Artes del fuego a docentes y maestros de educación
                    formal del municipio Sucre, con el fin de que sean multiplicadores en sus unidades educativas y comunidades.</p><br><br>

                <h3>Creador y coordinador general del Proyecto: </h3><br>
                <p>“Formación Integral de Artesanos en los Oficios de Cerámica, Orfebrería, Joyería, Torno Cerámico y Vidrio termo formado, con Conocimientos básicos en administración y producción”. Con el propósito de fomentar la autogestión a través de
                    la microempresa. Convenio AVAF-FUNDARTE, Alcaldía de Caracas, dirigido a jóvenes de escasos recursos (1996-1998). </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/images/6db6d8a8-9ef0-4e49-8ec2-f54c6fe55ef7.jpg" alt="ursi galletti taller escuela orfebreria">
            </div>
            <div class="clear"></div><br>
            <div class="col-xs-12 col-sm-6">
                <h2>Tareas desarrolladas en este proyecto:</h2><br><br>

                <h3>Programas de estudio y pensum curricular</h3>

                <li> Implementación de instrumentos de verificación o controles en proyectos específicos en el área cultural de la Alcaldía de Caracas.</li>
                <li>Jornadas de Selección de aspirantes a participar en programas de capacitación del municipio libertador.</li>
                <li>Talleres de inducción para los participantes de los proyectos de capacitación.</li>
                <li>Facilitador y enlace entre el grupo beneficiado de la comunidad y los entes crediticios. Banco municipal y otros.</li>
                <li>Enlace con instituciones gubernamentales para la capacitación Gerencial de los microempresarios. INCE-GTZ.</li>
                <li>Redacción de Proyectos en el área Artesanal; Producción y comercialización.</li><br><br>
                <h3>Coordinador de jornadas tales como:</h3>
                <p><b>Ferias Expositivas.</b> Participación de grupos de Artesanos de la Alcaldía de Caracas en importantes Ferias de otros estados de Venezuela. Feria de Tintorero y Puerto la Cruz.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <img src="./assets/images/IMG_3946.jpg" alt="ursi galletti taller escuela orfebreria">
            </div>
        </div>
    </div>
</section>