<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/docente.jpg" alt="ursi galletti taller escuela orfebreria cursos">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Aspecto Docente</h3>
</section>
<!---cursos--->


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">
            <p><b>Enero 2012</b> Proyecto formativo AVAF, “ Las Artes del Fuego con la comunidad” <br><br>
                <b>Julio 2005</b> Jurado en el 32 salón nacional de las artes del fuego, Braulio Salazar <br><br>
                <b>Julio 2000 al 2003 </b>Profesor de orfebrería Ateneo de Caracas <br><br>
                <b>Enero 1.999 al 2003</b> Profesor de orfebrería Museo de Arte contemporáneo de Caracas <br><br>
                <b>ENERO 1.998 </b>“Taller de Técnicas Básicas de Orfebrería. Dictado a la Etnia Pemon. Kavanayen, La Gran Sabana. Venezuela. <br><br>
                <b>NOVIEMB. 1.995</b> Taller de Joyería Indígena “Talismanes y Amuletos” Museo de Ciencias Caracas-Venezuela <br><br>
                <b>JUNIO 1.995</b> Taller de Joyería Básica Museo Clarines Edo. Anzoátegui Venezuela. <br><br>
                <b>MAYO 1.995 </b>Participación en el Seminario La docencia en Las Artes del Fuego. Galería de Arte Nacional Caracas. Venezuela. <br><br>
                <b>MARZO 1.995</b> Demostración de Trabajo Museo de Arte Contemporáneo de Coro. Edo. Falcón Venezuela. <br><br>
                <b>NOVIEMBRE 1.994 </b>Demostración de Trabajo Museo de Arte Contemporáneo. Sala Cadafe Caracas. Venezuela. <br><br>
                <b>MARZO 1.994</b> Demostración de Trabajo Foyer, Asociación Cultural Humboldt.Caracas. Venezuela. <br><br>
                <b>OCTUBRE 1.993</b> Crea el Taller Escuela de Orfebrería de la AVAF. <br><br>
                <b>OCTUBRE 1.992</b> Demostración de Trabajo Instituto. Univ. Monseñor de Talavera. Caracas Venezuela. <br><br>
                <b>ABRIL 1.992</b> Demostración de Trabajo Foyer. Asociación Cultural Humboldt. Caracas. Venezuela. 1.989 Crea el Taller Escuela Ursi Galletti
            </p>
        </div>
    </div>
</section>