<div class="container mt-3 mb-3">
    <div id="logreg-forms">
        <form [formGroup]="registerForm" (ngSubmit)="crearUsuario()" autocapitalize="off" class="form-signup">
            <!-- <div class="social-login">
              <button class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook-f"></i> Sign up with Facebook</span> </button>
          </div>
          <div class="social-login">
              <button class="btn google-btn social-btn" type="button"><span><i class="fa fa-google-plus-g"></i> Sign up with Google+</span> </button>
          </div> -->

            <!-- <p style="text-align:center">OR</p> -->

            <input type="text" id="user-name" class="form-control" formControlName="username" placeholder="Nombre de Usuario" required="" autofocus="">
            <input type="email" id="user-email" class="form-control" formControlName="email" placeholder="Email " required autofocus="">
            <input type="password" id="user-pass" class="form-control" formControlName="password" placeholder="Contraseña" required autofocus="">
            <input type="password" id="user-repeatpass" class="form-control" formControlName="password2" placeholder="Repita Contraseña" required autofocus="">
            <div class="row">
                <div class="col text-danter">
                    <p *ngIf="campoNoValido('username')"><span>*</span> El username es obligatorio</p>
                    <p *ngIf="campoNoValido('email')"><span>*</span> El email es obligatorio y debe ser valido</p>
                    <!-- <p *ngIf="aceptaTerminos()"><span>*</span> Debe aceptar los términos de uso</p> -->
                    <p *ngIf="passwordNoValido()"><span>*</span> La Contraseña deben ser iguales </p>
                </div>
            </div>
            <button class="btn btn-primary btn-block" type="submit" (click)="crearUsuario()"><i class="fas fa-user-plus"></i> Registrarme</button>
            <a (click)="irAlLogin()" style="cursor:pointer"><i class="fa fa-angle-left"></i> Ingresar</a>
        </form>
        <br>

    </div>
</div>