<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/sub-header/06.jpg" alt="">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Curso Online de Orfebrería en vivo</h3>
</section>

<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">

            <div class="animated fadeInUp">
                <div class="col-xs-12 col-sm-6">
                    <iframe width="100%" height="320" style="margin-top:40px;" class="wow fadeIn embed-responsive-item" src="https://www.youtube.com/embed/dLxmY1XOAAI" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Reparacion de Joyas </h3>
                    <h2>EN ORO Y PLATA</h2>
                    <h3>Reparación y actualización de diseños de Joyas</h3>
                    <p>Realizamos todo tipo de reparación como: </p>
                    <br>
                    <ul style="padding-left:20px">
                        <li>Soldadura de cadenas</li>

                        <li>Soldadura de post de zarcillo</li>

                        <li>Cambio de Broches</li>

                        <li>Montura de piedras</li>

                        <li>Reparaciones en general en oro y plata</li>

                        <li>Cambio de pilas relojes</li>

                        <li>Limpieza y mantenimiento de joyas</li>

                        <li>Baños de oro</li>

                        <li>Encargos</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>