<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/urisi.jpg" alt="ursi galletti taller escuela orfebreria">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Acerca de Ursi Galletti Orfebre</h3>
</section>
<div class="container" id="info">
    <div class="row padding">
        <div class="row">
            <h2 class="text-center" style="padding: 30px 0px">SOBRE URSI GALLETTI</h2>
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">

                    <p>Ursi Galletti nace en Caracas en el año 1963, se inicia en el mundo de la orfebrería en en el año 1987, recibiendo la primera instrucción en el oficio por el orfebre Carlos Domínguez, Lucero Tamayo en Esmalte sobre metal y Edith Piguillin
                        en Art Clay, en sus primeros años se dedico a la investigación y experimentación puertas adentro en su taller. </p><br>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi1.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi2.png" alt="ursi galletti taller escuela orfebreria">
                </div>
                <div class="col-xs-12 col-sm-6">

                    <p>Mientras mejoraba y perfeccionaba sus técnicas recreaba en el metal recuerdos de su infancia, producto de la estrecha relación que tuvo con la Etnia Pemon desde sus primeros años de vida hasta entrada la adolescencia, toda aquella
                        vivencia de muchos años han sido objetos de inspiración en su obra Artística, la figura del Chaman su ornamentación para rituales y toda la magia y misterio que envolvía la acción se convirtieron en una en una constante en su obra,
                        usar elementos no convencionales como huesos, semillas, plumas mas la intervención del fuego y las destrezas propias del artesano metalúrgico transformar todos estos elementos en hermosas piezas de joyería, con fines expositivos,
                        que lo ha hecho merecedor de importantes premios y participación en exposiciones nacionales como internacionales. </p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">
                    <p>En el año 1991 crea la academia URSI GALLETTI TALLER ESCUELA, se sintió motivado para hacerlo en vista de que en el país no existian academias que enseñaran la Joyeria de una forma más profesional y haciendo uso de programas de estudio
                        con niveles y especializaciones, convirtiéndose así en unas de las primeras escuelas de la ciudad de Caracas y el país.</p>


                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi3.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi4.png" alt="ursi galletti taller escuela orfebreria">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>En 1996 fue merecedor del Premio Nacional (accésit) de las Artes del Fuego y a partir de entonces empezó a participar en los salones y bienales más importantes tanto nacionales como la participación en el “Salón Nacional de las Artes
                        del Fuego” por muchos años y La “Bienal de Puerto La Cruz” entre otros, como también participaciones en importantes exposiciones Internacionales, tales como:</p>


                </div>
            </div>
        </div>
        <div class="row">
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">
                    <p>En 1996 fue merecedor del Premio Nacional (accésit) de las Artes del Fuego y a partir de entonces empezó a participar en los salones y bienales más importantes tanto nacionales como la participación en el “Salón Nacional de las Artes
                        del Fuego” por muchos años y La “Bienal de Puerto La Cruz” entre otros, como también participaciones en importantes exposiciones Internacionales, tales como:</p>
                    <br>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi5.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi6.png" alt="ursi galletti taller escuela orfebreria">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p><b>ENERO 1996</b> “The 9th cloisonneJewelryContest”. TheJapanShippoConferenceexhibition.Tokio. Japón
                        <br>

                        <b>ABRIL 1997</b> “XV Exposición de Arte del Institute Smithsonian”<br> National Building Museum, Washington. USA <br>

                        <b>Enero 1998</b> “XIII Salón Internacional de Esmaltes”.<br>

                        <b>Octubre 200</b>2 “Encuentro Artesanal Andino”, Bogotá Colombia. <br>

                        <b>Mayo 2003</b> "Wearable Art", metalsmithingexhibition, Auditorium Simón Bolívar, Port Spain Trinidad and Tobago. Embajada de Venezuela. <br>

                        <b>Abril 2006</b> Joyería Andina. Sede General de la UNESCO, Paris Francia<br>

                        <b>Mayo 2006</b> Feria Internacional de Paris, Porte de Versaille, Francia <br>

                        <b>Noviemb 2009</b> “3er Encuentro Hispanoamericano de Plateros”, Zacatecas - México.
                    </p>
                </div>

            </div>

        </div>
        <div class="row">
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">
                    <p>En el año 1996 a 1998 creo y dirigió un proyecto de capacitación en oficios artesanales y mejoramiento dirigido a artesanos de la zona de Catia en Caracas, una de las zonas populares con mayor población por metro cuadrado y otro programa
                        artesanal especial para la fundación de la alcaldía que llevaba un programa para capacitación de los Niños de la Calle , este proyecto formaba parte de un plan de gobierno de la Alcaldía de Caracas con el Alcalde Antonio Ledezma,
                        Fundarte y AVAF, los participantes paralelamente recibieron capacitación en el area de administración y producción para la pequeña empresa artesanal.
                        <p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi7.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
            <div class=" acercadeursi">
                <div class="col-xs-12 col-sm-6">
                    <img src="./assets/images/ursi/ursi8.png" alt="ursi galletti taller escuela orfebreria">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Desde el año 2015 Ursi Galletti fijo su residencia en la ciudad de Houston Tx, donde instalo su Taller Escuela en Plazamerica Mall y continua con sus actividades académicas, expositivas, servicios de reparación.
                        <br> Realiza talleres intensivos en otros lugares como Miami, Orlando, Panama y Puerto Rico desde el año 2011 hasta entonces
                        <p>
                </div>

            </div>

        </div>
    </div>

</div>

<section class="boxed-sm">
    <div class="container">
        <div class="row padding">
            <div class=" col-xs-12 col-sm-6">
                <h1>Datos Personales </h1>
                <p>
                    <b>Nombre: </b>Urcisinio (Ursi) <br>
                    <b>Apellidos:</b> Galletti Serrate <br>
                    <b>Fecha Nacimiento:</b> 22-12-63 <br>
                    <b>Profesión: </b>Orfebre Escultor <br>
                    <b>E-Mail:</b> ugalletti@hotmail.com <br>
                    <b>Miembro De:</b> American Craft Council #198792 <br>
                    <b>Website: </b> ursigallettiorfebre.com | gallettiursiorfebre.com<br>
                    <b>Twitter: </b> @ugalletti <br>
                    <b>Facebook:</b> ursiGalletti Orfebre
                </p>
                <p><b>Instagram:</b> @ursigalletti</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h1>Cursos Realizados</h1>
                <p><b>Art Clay Profesor:</b> Edith Piguillem Santiago- Chile 2007<br>
                    <b>Seminario de Diseño de Joyas Dictado:</b>UNESCO Catacaos, Perú 2004<br>
                    <b>Taller de Esmalte Cloisonne Profesor:</b>Lucero Tamayo AVAF 1.996<br>
                    <b>Estudio de Joyería Profesor:</b>Domingo Ramírez Particular 1.987 - 1.989<br>
                    <b>Curso de Joyería Profesor:</b>Carlos Domínguez, Atelier de Arte Y Oficio 1.986 - 1.987
                </p>
            </div>
        </div>
    </div>
</section>


<div class="clear"></div>
<div class="call-to-action-style-1">
    <img class="rellax bg-overlay " src="./assets/images/call-to-action/ursi2.jpg" alt="ursi galletti taller escuela orfebreria" />
    <div class="overlay-call-to-action"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6">
                <h1><b> Premios </b></h1>
                <p>Septiembre 2004 Premio accésit, 1er premio Salón Nacional de las Artes del Fuego, edición 31 Galería Braulio Salazar, Valencia Venezuela <br><br>
                    <b>AGOSTO 1.997</b> Primer Premio de Esmalte Sobre Metal. IV Bienal de Pto. La Cruz, Venezuela
                    <br><br>
                    <b>FEBRERO 1.996</b> Premio Universidad de Carabobo. XXIII Salón de Las Artes del Fuego Valencia, Venezuela
                </p>
                <br><br>
                <h1><b> Actualmente </b></h1>
                <p>Desde el año 2011 hasta la actualidad realiza giras por Panamá, Miami, Orlando, Atlanta y Houston dictando talleres con su taller móvil</p>
            </div>
        </div>
    </div>
</div>


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">
            <div class="col-xs-12 col-sm-6">
                <h1>Experiencia</h1>
                <ul>
                    <li>Creación de programas de Estudios y Pensum Curricular en oficios tradicionales.</li>
                    <li>25 años como instructor del Oficio de la Orfebrería y Joyería.</li>
                    <li>Creación de 4 Talleres - Escuela en Venezuela:
                        <ol>
                            <li>AVAF (Asociación Venezolana de las Artes del Fuego), Caracas, Venezuela.</li>
                            <li>Fundación Clarines. Clarines, Edo. Anzoategui, Venezuela.</li>
                            <li>Museo de arte Contemporáneo de Caracas</li>
                            <li>Ateneo de Caracas</li>
                        </ol>
                    </li><br>
                    <li><b>Apoyo y Asesoramiento a Instituciones como</b>
                        <ul>
                            <li>Fundarte. Alcaldía de Caracas.</li>
                            <li>AVAF.</li>
                            <li>Fundación Clarines.</li>
                            <li>Museo de Ciencias.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h1>Gerencia Cultural</h1>
                <ul>
                    <li>Implementación de instrumentos de verificación o controles en proyectos específicos en el área cultural.
                    </li>
                    <li>Jornadas de Selección de aspirantes a participar en programas de capacitación del municipio libertador.
                    </li>
                    <li>Talleres de inducción para los participantes de los proyectos de capacitación.</li>
                    <li>Facilitador y enlace entre el grupo beneficiado de la comunidad y los entes crediticios. Banco municipal y otros.</li>
                    <li>Enlace con instituciones gubernamentales para la capacitación Gerencial de los microempresarios. (INCE-GTZ-1996)
                    </li>
                    <li>Redacción de Proyectos en el área Artesanal; Producción y comercialización.</li><br>
                    <li><b>Coordinador de jornadas tales como:</b>
                        <ol>
                            <li>Ferias Expositivas.</li>
                            <li>Participación de grupos de Artesanos de la Alcaldía de Caracas en importantes Ferias de otros estados de Venezuela. Feria de Tintorero y Puerto la Cruz.</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>