<div class="loginregister">
    <div class="container mt-5 centrado">
        <form class="form-password " #ResetpasswordForm="ngForm" (ngSubmit)="newPassword()" autocapitalize="off">
            <h3 class="h3 mb-3 font-weight-normal text-center">Contraseña Nueva</h3>
            <!-- {{passwordForm.resetToken }} -->
            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" [(ngModel)]="passwordForm.email" name="email" />
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <label>Nueva Contraseña (Mínimo 6 caracteres)</label>
                    <input class="form-control" type="password" [(ngModel)]="passwordForm.password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <label>Confirme Contraseña</label>
                    <input class="form-control" type="password" [(ngModel)]="passwordForm.password2" name="password2" placeholder="Confirm Password">
                </div>
            </div>
            <div class="row">
                <div class="col text-danter">
                    <!-- <p *ngIf="passwordNoValido()"><span>*</span> La Contraseña deben ser iguales </p> -->
                </div>
            </div>

            <button type="submit" class="btn btn-block btn-primary">Cambiar Contraseña</button>
        </form>
    </div>
</div>