<div class="loginregister">
    <div class="container mt-5 centrado">
        <form class="form-password " [formGroup]="resetpaswordForm" id="loginform" (ngSubmit)="resetPassword()" autocapitalize="off">
            <h3 class="h3 mb-3 font-weight-normal text-center">Solicitar cambio Contraseña</h3>

            <div class="form-group">
                <label>Email address</label>
                <input type="email" class="form-control" formControlName="email" />
            </div>
            <a routerLink="/login" id="to-recover">
                <i class="fa fa-lock ml-3"></i> Volver al Login</a>
            <button type="submit" class="btn btn-block btn-primary float-end" (click)="resetPassword()">
    restablecer contraseña
  </button>

        </form>
    </div>
</div>