
<div id="mycarr" class="carousel slide slide1 carousel-fade " data-ride="carousel">
    <!-- Indicators -->
    <!--ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol-->

   
     <!-- Wrapper for Slides -->
        <div class="carousel-inner" *ngFor="let banner of banners">

            <div class="item active">
                <div class="">
                    <div class="BannPpal">
                        <div class="container">
                            <div class="inf">
                                <h2 class="Up {{banner.is_activeText}}">{{banner.title}}</h2>
                                <h4 class="Up {{banner.is_activeText}}">{{banner.subtitle}}</h4>
                                <div [innerHtml]="banner.description | safe: 'html' "></div>
                                <div class="text-center">
                                    <a href="{{banner.url}}" target="{{banner.target}}" class="btn btn-outline-ursi {{banner.gotBoton}}">{{banner.botonName}}  </a>

                                </div>
                            </div>
                        </div>
                        
                        <div class="desktop" >
                            <img [src]="banner.image | imagenPipe: 'banners'" alt="ursi galletti taller escuela orfebreria {{banner.title}}">

                        </div>
                        <div class="movil" *ngIf="banner.imagemovil">
                            <img [src]="banner.imagemovil | imagenPipe: 'movil'" alt="ursi galletti taller escuela orfebreria {{banner.title}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- Controls -->
        <a class="left carousel-control" href="#mycarr" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#mycarr" data-slide="next">
            <span class="icon-next"></span>
        </a>

   </div>
    

