<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/cultural.jpg" alt="ursi galletti taller escuela orfebreria ">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Taller Escuela Ursi Galletti</h3>
</section>
<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">
            <div class="curso-cronograma">
                <div class="col-xs-12 col-sm-6">
                    <p>El Taller Escuela Ursi Galletti se funda en Caracas Venezuela en el año 1991, por el orfebre Venezolano Ursi Galletti, hasta entonces se ha dedicado a la formación y capacitación de Orfebres, actualmente la escuela está ubicada en
                        Houston Texas donde se continúa impartiendo talleres y cursos de capacitación y especialización en las diferentes areas de la joyería.
                        <br> Tenemos la constancia...
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="/assets/images/taller/taller1.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="curso-cronograma ">
                <div class="col-xs-12 col-sm-6">
                    <p>Contamos con un Taller con una Capacidad de instalada para 4 alumnos, con todas las herramientas y equipos necesarios, ademas tambien ofrecemos muchos cursos alternativos ademas del curso de Joyeria
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="/assets/images/taller/taller2.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="curso-cronograma ">
                <div class="col-xs-12 col-sm-6">
                    <p>Esmalte sobre metal, Metal Clay, Resina, madera, alambrismo y muchos mas son las alternativas que te ofrecemos</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="/assets/images/taller/taller3.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>

        </div>
        <div class="row padding">
            <div class="curso-cronograma ">
                <div class="col-xs-12 col-sm-6">
                    <p>A partir del año 2010 el Taller Escuela se internacionalizo y empezo a dar una gira anual titulada (workshop in motion) impartiendo clases en Miami, Orlando, Houston, Atlanta, Puerto Rico, Ciudad de Panama hasta el 2015 cuando fija
                        residencia en Houston Tx</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="/assets/images/taller/taller4.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="curso-cronograma ">
                <div class="col-xs-12 col-sm-6">
                    <p>En nuestra escuela podemos decir con orgullo que hemos formado a competentes diseñadores de joyas y orfebres que hoy tienen su nicho en el mercado de la joyeria</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="/assets/images/taller/taller5.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
        </div>
        <div class="row padding">
            <div class="curso-cronograma ">
                <div class="col-xs-12 col-sm-6">
                    <p>No esperes mas si quieres aprender con calidad este oficio artesanal ven con nosotros, te esperamos..
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img src="/assets/images/taller/taller6.png" alt="ursi galletti taller escuela orfebreria">
                </div>
            </div>
        </div>

    </div>
</section>