<app-loading *ngIf="isLoading" ></app-loading>

<section class="boxed-sm" id="cursos" *ngIf="!isLoading">
    <div class="container">
        <div class="row">
            <div class="padding text-center">
                <h1> {{ 'Clases de Joyería'|translate}}</h1>
                <p>{{ 'No dejes de ver en el menú'|translate}} <b>{{ 'CURSOS'|translate }}</b> {{ 'todos nuestros cursos con información y precios.'|translate }}</p>
            </div>
            <div class="row ">
                <!-- Servicios -->
                <div class="col-12 col-sm-4 col-md-4" *ngFor="let curso of cursos">
                    <div class="card servicio">
                        <div class="card-body">
                            <div class="imagen">
                                
                                <img class="img-responsive" [src]="curso.avatar | imagenPipe: 'cursos'" alt="ursi galletti taller escuela orfebreria {{curso.title}}" style="width:100%" />

                            </div>
                            <h2>{{translate.currentLang === 'en' ? curso.name_eng : curso.name}}</h2>
                            <div class="sapo introHome" [innerHtml]="translate.currentLang === 'en' ? curso.adicional_eng : curso.adicional | safe: 'html'"></div>
                        </div>
                    </div>
                </div>
                <!-- Servicios -->

            </div>
        </div>
    </div>
</section>