<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/sub-header/anillo2.png" alt="ursi galletti taller escuela orfebreria anillos">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Anillos</h3>
</section>


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding" *ngFor="let anillo of anillos">
            <!-- anillo -->
            <div class="curso-cronograma animated fadeInUp">
                <div class="col-xs-12 col-sm-6">
                    <h3>Modelo: {{anillo.model}}</h3>
                    <h3>{{anillo.title}}</h3>
                    <div class="sapo" [innerHtml]="anillo.description | safe: 'html' "></div>
                    <div *ngIf="anillo.costo">
                        <p class="price">{{anillo.costo|currency}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <img [src]="anillo.image | imagenPipe: 'anillos'" alt="ursi galletti taller escuela orfebreria {{anillo.title}}">
                </div>
            </div>
            <!-- anillo -->

        </div>
    </div>
</section>