<!-- post -->
<div class="post row recientes" *ngFor="let blog of blogs">
    <div class="col-xs-12 col-sm-4 col-md-4">
        <a [routerLink]="['/blog', blog.slug]">
            <div *ngIf="!blog.image">
                <img class="img-responsive" src="./assets/images/no-image.jpg" alt="ursi galletti taller escuela orfebreria {{blog.title}}" style="width:100%" />
            </div>
            <div *ngIf="blog.image">
                <img class="img-responsive" [src]="blog.image | imagenPipe: 'posts'" alt="ursi galletti taller escuela orfebreria {{blog.title}}" style="width:100%" />
            </div>
        </a>
    </div>
    <div class=" col-xs-12 col-sm-8 col-md-8">
        <h3>
            <a [routerLink]="['/blog', blog.slug]">{{blog.title}}</a>
        </h3>
        <p class="meta">
            <span class="time">
              <a [routerLink]="['/blog/category/', blog.name]">{{blog.name}}</a>
              </span>
        </p>
        <p class="meta">
            <span class="time">{{blog.created_at | date:'mediumDate'}}</span>
        </p>
        <div class="sapo intro" [innerHtml]="blog.description | safe: 'html' "></div>
        <a class="read-more" [routerLink]="['/blog', blog.slug]">Leer más<i class="fa fa-long-arrow-right"></i></a>
    </div>
    <div class="clear"></div>
    <br>
    <br>
</div>
<!-- post -->

<br>
