<section class="sub-header shop-layout-1">
    <img class="rellax bg-overlay" src="./assets/images/slider/exposicionesIn.jpg" alt="ursi galletti taller escuela orfebreria ">
    <div class="overlay-call-to-action"></div>
    <h3 class="heading-style-3">Exposiciones Individuales </h3>
</section>


<section class="boxed-sm" id="info">
    <div class="container">
        <div class="row padding">
            <p><b>MAYO 1.997 </b>“KUKENAN”. Tierra Misteriosa...Embajada de Venezuela. Chile <br><br>
                <b>FEBRERO 1.994</b> “Una Explosión Cultural: 500 Años del Negro Y El Europeo en el Caribe”Asociación Cultural Humboldt. Caracas. Venezuela. </p>
        </div>
    </div>
</section>