<!-- <div class="modal-header">
    <h5 class="modal-title">Gracias Por su Compra!</h5>
    <p class="modal-title">Compra Ok!</p>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    <h3>Items Data:</h3>
    <hr>
    <div *ngFor="let item of items">
        <p><b>Name</b>{{item.name}} <b>Units</b>{{item.quantity}} <b>Price/unit</b> $ {{item.unit_amount.value}} </p>
    </div>
    <hr>
    <h3><b>Total:</b>$ {{amount}}</h3>
    <h3>Data:</h3>
    <p>{{reference}}</p>
    <p>{{email_address}}</p>
    <p>{{name}} {{surname}}</p>
    <p>{{status}}</p>
</div> -->

<div class="invoicemodal">
    <div class="modal-header">
        <div class="invoice-top">
            <div class="row d-flex align-items-center">
                <div class="col-xl-6 col-md-6 col-sm-6 col-6">
                    <h1>Recibo</h1>
                    <span>NO. {{reference}}</span>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-6 col-6 d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">


        <div class="invoice-header">
            <div class="row d-flex align-items-center">
                <div class="col-xl-2 col-md-2 col-sm-12 d-flex justify-content-xl-start justify-content-md-center justify-content-center mb-2">
                    <div class="invoice-logo">
                        <img src="assets/img/logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 col-sm-6 d-flex justify-content-xl-start justify-content-md-center justify-content-center mb-2">
                    <div class="details">
                        <ul>
                            <li class="company-name">Compra Paypal.</li>
                            <li>Referencia: {{reference}}</li>
                            <li>Estado: {{status}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 col-sm-6 d-flex justify-content-xl-end justify-content-md-end justify-content-center mb-2">
                    <div class="client-details">
                        <ul>
                            <li class="title">Para.</li>
                            <li>{{name}} {{surname}}</li>
                            <li>Email: {{email_address}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="invoice-date d-flex justify-content-xl-end justify-content-center">
            <span>Febuary 22, 2018</span>
        </div>

        <div class="col-xl-12 desc-tables">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-left">Nombre</th>
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td class="text-left">
                                {{item.name}}
                                <br>
                                <div class="description">
                                    {{item.description}}
                                </div>
                            </td>
                            <td class="text-center">{{item.quantity}}</td>
                            <td class="text-center">${{item.unit_amount.value}}</td>
                            <td class="text-center">$1887.09</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="invoice-footer">
        <div class="invoice-container">
            <div class="row d-flex align-items-center">
                <div class="col-xl-6 col-md-6 col-sm-6 d-flex justify-content-xl-start justify-content-md-start justify-content-center mb-2">
                    <div class="bank">
                        <div class="title">Paypal </div>
                        <div class="text">Account Number: 123 456 789</div>
                        <div class="text">Code: ELM0236US</div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-6 d-flex justify-content-xl-end justify-content-md-end justify-content-center">
                    <div class="total">
                        <div class="title">Total</div>
                        <div class="number">{{amount|currency}}</div>
                        <div class="taxe">Impuestos incluidos</div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="thx">
                    <i class="fa fa-heart"></i><span>Gracias Por su Compra!</span>
                </div>
                <div class="website">www.ursigalletti.net</div>
            </div>
        </div>
    </div>
   </div>